<<<<<<< HEAD
/*=========================================================================
====================== Responsive Styles ==================================
============================================================================*/

/* Medium screens */
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  
  .search-container {
    flex-wrap: wrap;
  }
  
  .search-input {
    order: 1;
    width: 100%;
    margin: 10px 0;
  }
=======
/*=========================================================================
====================== Responsive Styles ==================================
============================================================================*/

/* Medium screens */
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  
  .search-container {
    flex-wrap: wrap;
  }
  
  .search-input {
    order: 1;
    width: 100%;
    margin: 10px 0;
  }
>>>>>>> 1fd66db2d5d128e12c763de3b8422e1de4ec28eb
}